.page {
  .header-gradient {
    width: 100%;
    height: 12rem;
    position: fixed;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 36, 0) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .container {
    padding-top: 15rem;
    .image {
      height: 400px;
      width: 350px;
      background-image: url("../../../assets/about-pf.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 50px;
      margin-left: 32px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    }

    .text-left {
      width: 100%;
      display: flex;
      justify-content: end;

      div {
        p {
          margin-right: 32px;
          margin-top: 0;
          width: 600px;
          line-height: 1.8rem;
        }
      }
    }
  }
}
